<h3><strong>Name: </strong><%= @user.name %></h3>
<h6><strong>Pass: </strong><%= current_user.encrypted_password %></h6>
<h6><strong>Salt: </strong><%= current_user.salt %></h6>
<h6><strong>Created At: </strong><%= current_user.created_at %></h6>
<h6><strong>Updated At: </strong><%= current_user.updated_at %></h6>