<h1>Edit your profile</h1>

<%= form_for @user do |f| %>

  <% if @user.errors.any? %>
      <h2>Form is invalid</h2>
      <ul><% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
      <% end %></ul>
  <% end %>

  <p>Name<br><%= f.text_field :name %></p>
  <p>Email<br><%= f.text_field :email %></p>
  <p>Password<br><%= f.password_field :password %></p>
  <p>Password Confirmation<br><%= f.password_field :password_confirmation %></p>
  <p><%= f.submit "Update" %></p>

<% end %>