<%= will_paginate %>

<% @users.each do |user| %>
	<p>#<%= user.id %> | 
		<%= link_to user.name, user %> | 
		<%= link_to 'Delete', user_path(user.id) , :method => :delete, :confirm => 'Are you sure?' %>
	</p>
<% end %>

<%= will_paginate %>