<h1>Posts from <%= @user.name %></h1>
<% if current_user %>
	<% unless current_user == @user %>
		<% if current_user.following?(@user) %>
			<%= form_for current_user.relationships.find_by_followed_id(@user), :method => :delete do |f| %>
				<%= f.submit "Unfollow" %>
			<% end %>
		<% else %>
			<%= form_for current_user.relationships.build(:followed_id => @user.id) do |f| %>
				<%= f.hidden_field :followed_id %>
				<%= f.submit "Follow" %>
			<% end %>
		<% end %>
	<% end %>
<% end %>

<% if @user.microposts.any? %>
	<% @user.microposts.each do |m| %>
		<hr/><p><%= m.content %><br>Created At: <%= time_ago_in_words(m.created_at) %> ago. | 
				<% if current_user %>
					<%= link_to 'Delete', micropost_path(m), :method => :delete, :confirm => 'Are you sure?' %></p>
				<% end %>
			</p>
	<% end %>
<% end %>