<% if current_user %>

	<p>Name: <%= @user.name %><br>
	Microposts: <%= @user.microposts.count %><br>
	<%= link_to 'Edit My Profile', edit_user_path(@user) %><br>
	<%= link_to "#{@user.following.count} following", following_user_path(@user) %><br>
	<%= link_to pluralize(@user.followers.count, "follower"), followers_user_path(@user) %></p>
	<hr>
	<h1>Create a new post</h1>
	<%= form_for @micropost do |m| %>
		<p>Text: <br><%= m.text_area :content %></p>
		<p><%= m.submit "Post" %></p>
	<% end %>

	<% if @feed_items %>
		<% @feed_items.each do |feed| %>
			<p><%= link_to feed.user.name, feed.user %><br>
				<%= feed.content %> | 
				<% if current_user.feed %>
					<%= link_to 'delete', feed, :method => :delete, :confirm => 'Are you sure?' %></p>
				<% end %>
		<% end %>
	<% end %>

<% else %>
	Generic Home page (you are not logged in)
<% end %>