/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

* {
	box-sizing: border-box;
	font: Helvetica;
	font-size: 20px;
	color: #555;
}

a {
	margin: 0 5px;
	text-transform: uppercase;
	font-size: 14px;
}

.rounded_box {
	border: 1px solid grey;
	border-radius: 10px;
	padding: 10px;
}

.header,
.container,
.footer,
.part {
	overflow: hidden;
	margin: 5px auto;
	width: 800px;
	text-align: center;
	padding: 10px;
}

.container {
	min-height: 300px;
}

.header div {
	display: inline-block;
}

ul li {
	margin: 0 5px;
}

.logo {
	width: 200px;
	float: left;
	margin-right: 5px;
}

.menu {
	float: right;
	margin-left: 5px;
}

.part .button {
	border: 1px solid darkgreen;
	border-radius: 10px;
	padding: 10px;
	background-color: green;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}

.align-right {
	text-align: right;
}