<div class="header">
	<div class="logo rounded_box"><%= link_to "APP 01", root_path %></div>
	
	<div class="menu rounded_box">
		<%= link_to "Home", root_path %>
		<%= link_to "Help", help_path %>
		<% if current_user %>
			<%= link_to "Users", users_path if current_user.admin? %>
			<%= link_to "Profile", current_user %>
			<%= link_to "Sign Out", signout_path %>
		<% else %>
			<%= link_to "Sign In", signin_path %>
		<% end %>
	</div>
</div>