<!DOCTYPE html>
<html>
<head>
  <title><%= site_title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>

<% if current_user %>
	<div class="part rounded_box align-right">Logged in as <%= current_user.name %></div>
<% else %>
	<div class="part"><%= link_to("Sign Up Here", signup_path, :class => 'button') %></div>
<% end %>

<div class="part"><%= render 'layouts/flash_errors' %></div>

<div class="container rounded_box">
	<%= yield %>
</div>

<%= render 'layouts/footer' %>

<!-- <%= render 'layouts/debug' %> -->

</body>
</html>